/**__pycache__**/
**/**__pycache__**/**
**/__pycache__/
gt_results_**
data
models
notebooks
report
results
benchmarks
Analysis
gt_run_logs
picasso_java
picasso_py
CLAUDE.md
myenv
.claude
10x10